/* api key : db03c893cc834a3b82d7898cb63e9b04 */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* Logo */

.logo {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
  padding-top: 0px;
  padding-bottom: 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

.logo p {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.choose {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.options{
  display: flex;
  width: 110px;
  align-self: center;
}



/* Stories List */

.stories {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin:0;
  padding: 0;
  
}

.card :first-of-type {
  padding-top: 10px;
}

.card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 300px;
  /* border: 1px solid white; */
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  background-size: cover;
  background-position: center;
}

.words {
  background-color: rgba(0, 0, 0, 0.5);
}



/* Footer */

.foot {
  display: flex;
  color: white;
  flex-direction: column;
  align-content: flex-end;
  /* border: 1px solid white; */
  margin-top: 195px;
  text-align: center;
  position: relative;
}

/* .hide {
  display: none;
} */



@media all and (min-width: 600px) {

/* Logo */

  .logo {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
    padding-right: 45%;
    padding-left: 20%;
  }

  /* Stories List */
  .stories {
    flex-flow: row wrap;
  }

  .card {
    flex-basis: 33.3%;
  }

  .foot {
    margin-top: 200px;
  }
}

@media all and (min-width: 1000px) {

  .logo {
    justify-content: flex-start;
    padding-top: 90px;
    padding-left: 2%;
    padding-right: 0;
}

   .choose {
    padding-left: 75px;
    padding-bottom: 50px;
}

/* Stories List */

  .card {
    flex-basis: 25%;
  }
  .foot {
    margin-top: 200px;
    text-align: left;
  }
 



}



